@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 800;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Extrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 700;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 600;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 500;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 400;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'INSPIRE Font Kit';
  font-weight: 300;
  src: url('./assets/fonts/INSPIRE_Font_Kit-Light.woff2') format('woff2');
}
