$weights: (
  800: Extrabold,
  700: Bold,
  600: Semibold,
  500: Medium,
  400: Regular,
  300: Light
);

@each $weight, $style in $weights {
  @font-face {
    font-family: 'INSPIRE Font Kit';
    font-weight: $weight;
    src: url('./assets/fonts/INSPIRE_Font_Kit-#{$style}.woff2') format('woff2');
    font-display: block;
  }
}
