@use './color';
@use './component';
@use './typography';

@use './utils';

@use './reset';
@use './font-faces';

:root {
  @include utils.generate-vars(color.$color, 'color', 'light');
  @include utils.generate-vars(component.$component-desktop, 'component');
  .inverted {
    @include utils.generate-vars(color.$color, 'color', 'dark');
  }
}

[data-theme='dark'] {
  @include utils.generate-vars(color.$color, 'color', 'dark');
  .inverted {
    @include utils.generate-vars(color.$color, 'color', 'light');
  }
}

.mobile-only, .mobile-only-flex, .mobile-only-grid {
  display: none;
}

@media (max-width: 768px) {
  :root {
    @include utils.generate-vars(component.$component-mobile, 'component');
  }
  .mobile-only {
    display: block;
  }
  .mobile-only-flex {
    display: flex;
  }
  .mobile-only-grid {
    display: grid;
  }
  .desktop-only {
    display: none;
  }
}
