@use 'sass:map';
@use './solid';
@use './grayscale';

$content: (
  emphasized: map.get(grayscale.$grayscale, translucent, 90),
  default:    map.get(grayscale.$grayscale, translucent, 50),
  muted:      map.get(grayscale.$grayscale, translucent, 40),
  disabled:   map.get(grayscale.$grayscale, translucent, 20),

  inverted: (
    emphasized: (
      light: map.get(solid.$solid, translucent, white, 90),
      dark:  map.get(solid.$solid, translucent, black, 90),
    ),
    default: (
      light: map.get(solid.$solid, translucent, white, 50),
      dark:  map.get(solid.$solid, translucent, black, 50),
    ),
    muted: (
      light: map.get(solid.$solid, translucent, white, 40),
      dark:  map.get(solid.$solid, translucent, black, 40),
    ),
    disabled: (
      light: map.get(solid.$solid, translucent, white, 20),
      dark:  map.get(solid.$solid, translucent, black, 20),
    ),
  ),
);
