@use 'sass:map';
@use './solid';
@use './grayscale';

$content: (
  primary:   map.get(grayscale.$grayscale, translucent, 80),
  secondary: map.get(grayscale.$grayscale, translucent, 40),
  tertiary:  map.get(grayscale.$grayscale, translucent, 30),

  inverted: (
    primary: (
      light: map.get(solid.$solid, translucent, white, 80),
      dark:  map.get(solid.$solid, translucent, black, 80),
    ),
    secondary: (
      light: map.get(solid.$solid, translucent, white, 40),
      dark:  map.get(solid.$solid, translucent, black, 50),
    ),
    tertiary: (
      light: map.get(solid.$solid, translucent, white, 30),
      dark:  map.get(solid.$solid, translucent, black, 30),
    ),
  ),
);
