@use 'sass:map';
@use './solid';

$grayscale: (
  solid: (
    5:  ( light: #F5F5F5, dark: #1A1A1A ),
    10: ( light: #EBEBEB, dark: #2E2E2E ),
    15: ( light: #E0E0E0, dark: #3D3D3D ),
    20: ( light: #CCCCCC, dark: #575757 ),
    30: ( light: #ABABAB, dark: #707070 ),
    40: ( light: #8A8A8A, dark: #8A8A8A ),
    50: ( light: #707070, dark: #ABABAB ),
    60: ( light: #575757, dark: #CCCCCC ),
    70: ( light: #3D3D3D, dark: #E0E0E0 ),
    80: ( light: #2E2E2E, dark: #EBEBEB ),
    90: ( light: #1A1A1A, dark: #F5F5F5 ),
  ),
  
  translucent: (
    5: (
      light: map.get(solid.$solid, translucent, black, 5),
      dark:  map.get(solid.$solid, translucent, white, 5),
    ),
    10: (
      light: map.get(solid.$solid, translucent, black, 10),
      dark:  map.get(solid.$solid, translucent, white, 10),
    ),
    15: (
      light: map.get(solid.$solid, translucent, black, 15),
      dark:  map.get(solid.$solid, translucent, white, 15),
    ),
    20: (
      light: map.get(solid.$solid, translucent, black, 20),
      dark:  map.get(solid.$solid, translucent, white, 20),
    ),
    30: (
      light: map.get(solid.$solid, translucent, black, 30),
      dark:  map.get(solid.$solid, translucent, white, 30),
    ),
    40: (
      light: map.get(solid.$solid, translucent, black, 40),
      dark:  map.get(solid.$solid, translucent, white, 40),
    ),
    50: (
      light: map.get(solid.$solid, translucent, black, 50),
      dark:  map.get(solid.$solid, translucent, white, 50),
    ),
    60: (
      light: map.get(solid.$solid, translucent, black, 60),
      dark:  map.get(solid.$solid, translucent, white, 60),
    ),
    70: (
      light: map.get(solid.$solid, translucent, black, 70),
      dark:  map.get(solid.$solid, translucent, white, 70),
    ),
    80: (
      light: map.get(solid.$solid, translucent, black, 80),
      dark:  map.get(solid.$solid, translucent, white, 80),
    ),
    90: (
      light: map.get(solid.$solid, translucent, black, 80),
      dark:  map.get(solid.$solid, translucent, white, 80),
    ),
  ),
);
