@use 'sass:map';
@use './solid';
@use './grayscale';
@use './brand';
@use './surface';
@use './content';
@use './line';
@use './interaction';

@use '../utils';

$color: (
  solid:       solid.$solid,
  grayscale:   grayscale.$grayscale,
  brand:       brand.$brand,
  surface:     surface.$surface,
  content:     content.$content,
  line:        line.$line,
  interaction: interaction.$interaction,
);
