@use 'sass:map';
@use './grayscale.scss';

$line: (
  border: map.get(grayscale.$grayscale, translucent, 10),

  divider: (
    light: map.get(grayscale.$grayscale, solid, 40),
    dark:  map.get(grayscale.$grayscale, solid, 50),
  ),
);
