@use 'sass:map';
@use '../utils' as *;

$white:  #FFFFFF;
$black:  #0A0A0A;
$red:    #F74C43;
$green:  #07D957;
$blue:   #3130F0;
$yellow: #FFE100;

$translucent: (
  white: (
    5:  rgba-hex($white, .04),
    10: rgba-hex($white, .08),
    15: rgba-hex($white, .14),
    20: rgba-hex($white, .20),
    30: rgba-hex($white, .33),
    40: rgba-hex($white, .46),
    50: rgba-hex($white, .56),
    60: rgba-hex($white, .66),
    70: rgba-hex($white, .76),
    80: rgba-hex($white, .82),
    90: rgba-hex($white, .90),
  ),
  black: (
    5:  rgba-hex($black, .04),
    10: rgba-hex($black, .08),
    15: rgba-hex($black, .14),
    20: rgba-hex($black, .20),
    30: rgba-hex($black, .33),
    40: rgba-hex($black, .46),
    50: rgba-hex($black, .56),
    60: rgba-hex($black, .66),
    70: rgba-hex($black, .76),
    80: rgba-hex($black, .82),
    90: rgba-hex($black, .90),
  ),
  red: (
    10: ( light: rgba-hex($red, .05), dark: rgba-hex($red, .10) ),
    20: ( light: rgba-hex($red, .20), dark: rgba-hex($red, .25) ),
    30: ( light: rgba-hex($red, .35), dark: rgba-hex($red, .40) ),
    40: ( light: rgba-hex($red, .55), dark: rgba-hex($red, .60) ),
    50: ( light: rgba-hex($red, .65), dark: rgba-hex($red, .70) ),
    60: ( light: rgba-hex($red, .80), dark: rgba-hex($red, .85) ),
  ),
  green: (
    10: ( light: rgba-hex($green, .05), dark: rgba-hex($green, .10) ),
    20: ( light: rgba-hex($green, .20), dark: rgba-hex($green, .25) ),
    30: ( light: rgba-hex($green, .35), dark: rgba-hex($green, .40) ),
    40: ( light: rgba-hex($green, .55), dark: rgba-hex($green, .60) ),
    50: ( light: rgba-hex($green, .65), dark: rgba-hex($green, .70) ),
    60: ( light: rgba-hex($green, .80), dark: rgba-hex($green, .85) ),
  ),
  blue: (
    10: ( light: rgba-hex($blue, .05), dark: rgba-hex($blue, .10) ),
    20: ( light: rgba-hex($blue, .20), dark: rgba-hex($blue, .25) ),
    30: ( light: rgba-hex($blue, .35), dark: rgba-hex($blue, .40) ),
    40: ( light: rgba-hex($blue, .55), dark: rgba-hex($blue, .60) ),
    50: ( light: rgba-hex($blue, .65), dark: rgba-hex($blue, .70) ),
    60: ( light: rgba-hex($blue, .80), dark: rgba-hex($blue, .85) ),
  ),
  yellow: (
    10: ( light: rgba-hex($yellow, .05), dark: rgba-hex($yellow, .10) ),
    20: ( light: rgba-hex($yellow, .20), dark: rgba-hex($yellow, .25) ),
    30: ( light: rgba-hex($yellow, .35), dark: rgba-hex($yellow, .40) ),
    40: ( light: rgba-hex($yellow, .55), dark: rgba-hex($yellow, .60) ),
    50: ( light: rgba-hex($yellow, .65), dark: rgba-hex($yellow, .70) ),
    60: ( light: rgba-hex($yellow, .80), dark: rgba-hex($yellow, .85) ),
  ),
);

$solid: (
  white:  $white,
  black:  $black,
  red:    $red,
  green:  $green,
  blue:   $blue,
  yellow: $yellow,

  translucent: $translucent,
);
