@use 'sass:map';
@use '../constant';

$badge: (
  large: (
    vertical:   map.get(constant.$spacing, 4),
    horizontal: map.get(constant.$spacing, 8),
    gap:        map.get(constant.$spacing, 4),
  ),
  small: (
    vertical:   map.get(constant.$spacing, 2),
    horizontal: map.get(constant.$spacing, 4),
    gap:        map.get(constant.$spacing, 2),
  ),
);
