@use 'sass:map';
@use '../constant';
@use './badge';
@use './button';
@use './icon-button';

$radius: (
  none:   map.get(constant.$radius, none),
  4:      map.get(constant.$radius, 4),
  6:      map.get(constant.$radius, 6),
  8:      map.get(constant.$radius, 8),
  12:     map.get(constant.$radius, 12),
  16:     map.get(constant.$radius, 16),
  24:     map.get(constant.$radius, 24),
  28:     map.get(constant.$radius, 28),
  32:     map.get(constant.$radius, 32),
  circle: map.get(constant.$radius, circle),

  badge:       badge.$badge,
  button:      button.$button,
  icon-button: icon-button.$icon-button,
);
