@use 'sass:map';

$radius: (
  none:   0px,
  4:      4px,
  6:      6px,
  8:      8px,
  12:     12px,
  16:     16px,
  24:     24px,
  28:     28px,
  32:     32px,
  circle: 50%,
);

$spacing: (
  none: 0px,
  2:    2px,
  4:    4px,
  6:    6px,
  8:    8px,
  12:   12px,
  16:   16px,
  20:   20px,
  24:   24px,
  28:   28px,
  32:   32px,
  36:   36px,
  40:   40px,
);
