@use 'sass:map';

@use './radius.scss';
@use './spacing.scss';

$component-desktop: (
  radius: radius.$radius-desktop,
  spacing: spacing.$spacing-desktop,
);

$component-mobile: (
  radius: radius.$radius-mobile,
  spacing: spacing.$spacing-mobile,
);
