@use 'sass:map';
@use 'sass:list';

@use './size';
@use './line-height';
@use './weight';

@use '../utils';

$typography-name: map.keys(size.$size-desktop);
$typography-weight: map.keys(weight.$weight);
$letter-spacing: -0.01px;


@each $name in $typography-name {
  $size-desktop: map.get(size.$size-desktop, $name);
  $line-height-desktop: map.get(line-height.$line-height-desktop, $name);

  .typo-#{$name} {
    font-size: $size-desktop;
    line-height: $line-height-desktop;
  }
}

@media (max-width: 768px) {
  @each $name in $typography-name {
    $size-mobile: map.get(size.$size-mobile, $name);
    $line-height-mobile: map.get(line-height.$line-height-mobile, $name);
  
    .typo-#{$name} {
      font-size: $size-mobile;
      line-height: $line-height-mobile;
    }
  }
}

@each $weight in $typography-weight {
  $font-weight: map.get(weight.$weight, $weight);

  .typo-weight-#{$weight} {
    font-weight: $font-weight;
  }
}
