@use 'sass:map';

$line-height-desktop: (
  giant:     92px,
  jumbo:     60px,
  large:     46px,
  medium:    32px,
  moderate:  26px,
  base:      24px,
  petite:    20px,
  micro:     18px,
  tiny:      18px,
  mini:      16px,
);

$line-height-mobile: (
  giant:    60px,
  jumbo:     40px,
  large:     36px,
  medium:    28px,
  moderate:  24px,
  base:      24px,
  petite:    20px,
  micro:     18px,
  tiny:      18px,
  mini:      16px,
);
